<!-- Header and Top Nav Bar are pulled from the partials folder -->
<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>

<!-- Main -->
<main>
    <div class="container">
        <br><br>
        <h1>Welcome to my <%= title %> Page</h1><br>
        <p>I designed this Project planner to help stay organised with my assignments and keep me ready for my exams.
        <br>This Web application uses MongoDB as a databse for storing the information on the Assignments page.
        <br>I ask that you test any of the CrUD operations to see what this application has to offer.</p>
        <br>
        <center><img src="assets/images/planner-img.jpg" alt="planner image" width="350" height="500"></center>
        <br><br><br><br><br>
    </div>
    <br><br><br><br><br>
</main>

<!-- Footer and Bottom Nav Bar are pulled from the partials folder -->
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>