<%- include partials/header.ejs %>
<%- include partials/top_nav.ejs %>
    <!-- Main -->
    <h1>Welcome to my <%= title %>ner</h1>
    <br>
    <p>
        This Assignment is about creating a single page application that can perform CrUD operations.<br>
        Creating, Updating and Deleting.<br>
        Using the MongoDB Atlas database, the information created on the site is stored and kept in an online databse.<br>
        The operations done on this web-page, have real-time effects on the data stored on an online database connected using Mongoose.<br>
        I chose to make this web-page based around an updating Project Planner.<br>
        Being that I already have to keep track of my assignments, there is practical use to this webpage beyond this initial assignment.
    </p>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>