<!-- Header and Top Nav Bar are pulled from the partials folder -->
<%- include ../partials/header.ejs %>
<%- include ../partials/top_nav.ejs %>

<!-- Edit page -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="post">

                <!-- Professor Form -->
                <div class="form-group">
                    <label for="professorTextField"> Professor </label>
                    <input type="text" class="form-control"
                        id="professorTextField"
                        placeholder="Enter Professor full name"
                        name="professor"
                        value="<%= work.professor %>" required>
                </div>

                <!-- Class Form -->
                <div class="form-group">
                    <label for="classTextField"> Class </label>
                    <input type="text" class="form-control"
                        id="classTextField"
                        placeholder="Enter class name"
                        name="class"
                        value="<%= work.class %>" required>
                </div>

                <!-- Assignment Form -->
                <div class="form-group">
                    <label for="assignmentTextField"> Assignment </label>
                    <input type="text" class="form-control"
                        id="assignmentTextField"
                        placeholder="Enter assignment name"
                        name="assignment"
                        value="<%= work.assignment %>" required>
                </div>

                <!-- Due Date Form -->
                <div class="form-group">
                    <label for="due_dateTextField"> Due Date </label>
                    <input type="text" class="form-control"
                        id="due_dateTextField"
                        placeholder="00-00-0000"
                        name="due_date"
                        value="<%= work.due_date %>" required>
                </div>

                <!-- Description Form -->
                <div class="form-group">
                    <label for="descriptionTextField"> Description </label>
                    <textarea type="text" class="form-control"
                        id="descriptionTextField"
                        placeholder="Enter brief description"
                        name="description" required>
                        <%= work.description %></textarea>
                </div>
                <br>

                <!-- Submit button -->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit
                </button>

                <!-- Cancel button -->
                <a href="/work" class="btn btn-warning">
                    <i class="fas fa-undo"></i> Cancel 
                </a>
            <br><br><br><br><br><br><br><br><br><br><br>
            </form>
            </div>
        </div>
    </div>
    <br><br><br><br><br>
</main>

<!-- Footer and Bottom Nav Bar are pulled from the partials folder -->
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>