<!-- Header and Top Nav Bar are pulled from the partials folder -->
<%- include ../partials/header.ejs %>
<%- include ../partials/top_nav.ejs %>

<main> 
    <div class="container">
        <!-- Message Area -->
        <% if (message.length > 0) { %>
            <div class="alert alter-danger">
                <%= message %>
            </div>
        <% } %>

        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h1>Please Register</h1>
                <form method="post" autocomplete="off">

                    <!-- Username Field -->
                    <fieldset class="form-group">
                        <label for="username"></label>
                        <input type="text" class="form-control"
                            name="username"
                            placeholder="Enter Username"
                            id="username" required autofocus>
                    </fieldset>

                    <!-- Password Field -->
                    <fieldset class="form-group">
                        <label for="password"></label>
                        <input type="password" class="form-control"
                            name="password"
                            placeholder="Enter password"
                            id="password" required>
                    </fieldset>

                    <!-- Email Field -->
                    <fieldset class="form-group">
                        <label for="email"></label>
                        <input type="email" class="form-control"
                            name="email"
                            placeholder="Enter email address"
                            id="email" required>
                    </fieldset>

                    <!-- Display Name Field -->
                    <fieldset class="form-group">
                        <label for="displayName"></label>
                        <input type="text" class="form-control"
                            name="displayName"
                            placeholder="Enter Name"
                            id="displayName" required>
                    </fieldset><br>

                    <!-- Register and Cancel buttons -->
                    <fieldset class="form-group-right">
                        <input type="submit" class="btn btn-success" value="Register">
                        <a href="/">
                            <input type="button" class="btn btn-warning" value="Cancel">
                        </a>
                    </fieldset>
                </form>
            </div>
        </div>
        <br><br><br><br><br><br><br>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</main>

<!-- Footer and Bottom Nav Bar are pulled from the partials folder -->
<%- include ../partials/bottom_nav.ejs %>
<%- include ../partials/footer.ejs %>